<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
<style>
  ul#menu li {
  display:inline;
}
</style>
<h1>Vertical Tank Maintenance</h1>
</head>
  <body>
    <header> 
      <nav>
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/estimate">Estimate</a></li>
        </ul>
      </nav>
    </header>

      {% block body %}

	  {% endblock %}

 </body>

</html>
