

{% extends 'base.html' %}

{% block body %}

	<img src="{{ url_for('static', filename='images/above_ground_vertical_tanks.jpg') }}" />
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et ultrices neque ornare aenean. Sed vulputate odio ut enim blandit volutpat maecenas. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Porttitor leo a diam sollicitudin. Arcu felis bibendum ut tristique et egestas. Enim eu turpis egestas pretium aenean pharetra magna ac. Faucibus pulvinar elementum integer enim neque volutpat ac. Quis commodo odio aenean sed adipiscing diam donec. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Sit amet aliquam id diam maecenas ultricies mi eget. Id donec ultrices tincidunt arcu non. Id porta nibh venenatis cras sed felis. Semper quis lectus nulla at volutpat. Consectetur purus ut faucibus pulvinar elementum integer enim neque. Ligula ullamcorper malesuada proin libero nunc consequat interdum. Odio ut sem nulla pharetra diam.</p>




	{% endblock %}

